.container-fluid {
    height: auto;
    width: 100%;
}

.day{
    margin-top: 40px;
}

.carousel-control-prev{
    height: 50%;
    width: 5%;
    margin-top: 50px;
    margin-left: 8%;
}
.carousel-control-next{
    height: 50%;
    width: 5%;
    margin-top: 50px;
}

.search-btn{
background-color: pink;
}

.day{
    text-align: center;
}
.day a:link{
text-decoration: none;
}

.date h3{
    font-weight: 700;
}
.date h5{
    margin-top: 10px; 
    margin-left: 5px;
}
.time h6{
    text-align: left;
    margin-left: 20px;
}
