:root {
    --task-color: #C0C0C0;
}

#todo-list,
#done-list {
    background-color: #8d8d8c;
}

#doing-list {
    background-color: #3D3D3D;
}

.list-header {
    color: white;
    text-align: center;
}

.list-tasks {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 8px;
    height: 495px;
}

.list-task {
    background-color: var(--task-color);
    border-radius: 15px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
    height: 80px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.list-task-avatar {
    margin-left: 8px;
}

.list-task-time {
    color: #4D4D4D;
    font-size: 16px;
    position: absolute;
    left: 87%;
    top: 35%;
}

.list-task-date {
    color: #4D4D4D;
    font-size: 16px;
    position: absolute;
    left: 75%;
    top: 60%;
}

.list-task-extras {
    position: absolute;
    left: 90%;
    top: 15%;
    cursor: pointer;
}

.add-btn {
    margin: 8px;
    float: right;
}

@media only screen and (min-width: 769px) and (max-width: 1480px) {
    #list-section {
        padding: 34px 20px;
        display: flex;
        justify-content: space-around;
    }

    .task-list-form {
        border-radius: 10px;
        width: 400px;
        height: 600px;
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {}